<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class='bx bxl-linkedin-square'></i>
            <i class='bx bxl-github' ></i>
            <i class='bx bxl-facebook-circle' ></i>
            <i class='bx bxl-instagram-alt' ></i>
        </div>

    
    <div class="f-info-brands"> &copy;Rishu private limited</div>
   <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>
</footer>