<% layout("/layouts/boilerplate") -%>
<div class="row mt-2">
    <h1>Signup for sapno ka Ghar</h1>
    <div class="col-6 offset-3">
        <form action="/signup" method="post" class="needs-validation"  novalidate>
            <div>
                <lable for="Username" class="form-label">Username</lable>
                <input name="username" id="username" type="text"class="form-control" required />
                </div>
                <div class="valid-feedback"> looks good!</div>
               
                    <div>
                        <lable for="email" class="form-label">Email</lable>
                        <input name="email" id="email" type="text"class="form-control" required />
                        </div>

                        <div>
                            <lable for="password" class="form-label">Passwprd</lable>
                            <input name="password" id="password" type="password"class="form-control" required />
                        </div>
                        <button class="btn btn-dark  btn-green">Signup</button>
                        
                     
        

        </form>
    </div>
    
</div>